# Python virtual environment 
env/
_data/

# Cache
__pycache__

# Airflow logs
logs/*
!logs/.gitkeep

# Docker volume mounts
_localstack_volume
_psql_volume

# Environment variables
.env
airflow_creds.env
