# Python virtual environment 
env/

# Local data directory
_data/

# Python runtime cache
__pycache__

# Airflow logs
logs/*
!logs/.gitkeep

# Docker volume mounts
_localstack_volume
_psql_volume

# Environment variables
.env
airflow_creds.env

# Local helper scripts
/scripts
